* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../public/fonts/Kalpana ANSI.eot');
    /* IE9 Compat Modes */
    src: url('../public/fonts/Kalpana ANSI.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../public//fonts/KalpanaANSI.woff') format('woff'),
        /* Modern Browsers */
        url('../public/fonts/KalpanaANSI.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../public/fonts//KalpanaANSI.svg#svgFontName') format('svg');
    /* Legacy iOS */
}



body {
    font-family: Kalpana;
}

.full_container {
    background: url('../public/image/Asset-7.png') top left no-repeat, url('../public/image/Asset-8.png') top right no-repeat, url('../public/image/Asset-9.png') bottom left no-repeat, url('../public/image/Asset-10.png') bottom right no-repeat;
    background-repeat: no-repeat;
}

.title {
    font-family: MyWebFont !important;
}